@import "./variables";

// START COURSES

#courses-list-courses {
  padding-top: calc($header-height + 100px);
  padding-bottom: 100px;
  background-color: $navi;
  .heading-block {
    .title {
      color: $white;
    }
  }
  .courses-info {
    margin-bottom: 30px;
  }
}
// END COURSES

// START FOOTER
#footer {
  margin-top: 0;
  background-color: $red;
  .footer-link {
    .title {
      &::after {
        background-color: $white;
      }
    }
  }
}
// END FOOTER
