@import "./variables";

// START ADVANCE
#homepage-advance {
  margin-top: -220px;
  position: relative;
  z-index: 1;
  .advance {
    border-radius: $border-radius-m;
    background-color: $gray;
    padding: 40px 30px 50px;
    height: 100%;
    &-icon {
      width: 100px;
      margin: 0 auto 35px;

      img {
        width: 100%;
      }
    }
    &-title {
      color: $red;
      font-size: 24px;
      font-weight: $fw-bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      text-align: center;
    }
    &-desc {
      font-size: 18px;
      text-align: center;
    }
  }
}
// END ADVANCE

// START COURSES
#homepage-courses {
  margin-top: 100px;

  .heading-block {
    .title {
      color: $navi;
    }
  }
}
// END COURSES

// START TEACHERS
#homepage-teachers {
  margin-top: 130px;
  padding-top: 75px;
  background-image: url("../assets/images/banner/teachers-bg.png");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;

  .heading-block {
    .title {
      color: $white;
    }
  }
}
// END TEACHERS

// START METHOD
#homepage-method {
  margin-top: 100px;
}
// END METHOD
